.lead {
    padding: 0 5% 0 5%;
    background-color: #DAF7A6;
    margin-left: 3%;
    margin-right: 25%;
}

h1 {
    padding: 2% 5% 0 5%;
    background-color: pink;
}

body {
    background-color: pink;
}

form#agregarPeriodo {
    margin-left: 3%;
}
.botones {
    margin-left: 3%;
}

section#principal {
    margin-left: 3%;
    margin-right: 3%;
}

footer.py-3.my-4 {
    background-color:rgb(33 37 41);
    margin-bottom: 0!important;
}

header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom {
    background-color:rgb(33 37 41);
    padding: 0 5% 0 5%;
}

.mb-4 {
    margin-bottom: 0!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color:rgb(33 37 41);
}

.fs-4 {
    color: white;
}